/* rem and em do Not depend on html font-size in media queries!
Instead, 1rem= 1em = 16px */

/* nav */

@media (min-width: 992px) {
  .bg-transparent-lg {
    background-color: transparent !important;
  }
  .border-0-lg {
    border: 0 !important;
  }
}

/* hero */

@media (min-width: 576px) {
  .hero .title span {
    font-size: 4.8rem;
  }

  .hero .title {
    height: 200px;
  }
}

@media (min-width: 992px) {
  .hero .title span {
    font-size: 8rem;
  }
  .hero .title {
    height: 250px;
  }
}
