/* rem and em do Not depend on html font-size in media queries!
Instead, 1rem= 1em = 16px */

/* nav */

@media (min-width: 992px) {
  .bg-transparent-lg {
    background-color: transparent !important;
  }
  .border-0-lg {
    border: 0 !important;
  }
}

/* hero */

@media (min-width: 576px) {
  .hero .title span {
    font-size: 4.8rem;
  }

  .hero .title {
    height: 200px;
  }
}

@media (min-width: 992px) {
  .hero .title span {
    font-size: 8rem;
  }
  .hero .title {
    height: 250px;
  }
}

/* about */

/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

@media (min-width: 768px) {
  .about .title {
    font-size: 3.2rem;
  }

  .about .content {
    font-size: 1.6rem;
    margin-inline: auto;
    width: 90%;
  }
}
@media (min-width: 992px) {
  .about .text {
    font-size: 2.4rem;
  }

  .about .title {
    font-size: 4.8rem;
    max-width: 70%;
  }

  .about .content {
    font-size: 2.4rem;
    max-width: 80%;
    margin-inline: auto;
  }

  .works .text {
    font-size: 2.4rem;
  }
}
